:root {
  font-family: InterVariable, Inter, system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
}

@media (display-mode: standalone) {
  body {
    overscroll-behavior-y: contain;
  }
}

* {
  box-sizing: border-box;
}
